<div class="checkout">
  <h1>Checkout</h1>
  <div class="row">
    <div class="col-sm-6">
      <h3>Add shipping address</h3>
      <p class="message-p">{{orderMsg}}</p>
      <form #orderData="ngForm" class="common-form" (ngSubmit)="orderNow(orderData.value)" style="text-align: center;">
       <div>
        <input
          type="text"
          class="form-input"
          name="email"
          placeholder="Enter User Email"
          ngModel
        />
       </div>
      

       <div> 
        <input
          type="text"
          class="form-input"
          name="address"
          placeholder="Enter User Address"
          ngModel
        />
      </div>

      <div>
        <input
        type="text"
        class="form-input"
        name="contact"
        placeholder="Enter contact details"
        ngModel
      />
      </div>
        <button class="form-button">Order Now</button>
      </form>
    </div>
    <div class="col-sm-6">
        <h3>Total Amount: {{amount}}</h3>
        <h4>Payment Method : <b>Pay on delivery</b></h4>
    </div>
  </div>
</div>

