
.product-details{

    width: 100%;
    height: 400px;
    object-fit: contain;
}


.product-color {
border: 3px solid black;
width: 40px;
height: 40px;
border-radius: 50%;



}

img{
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.product-detail{

    margin-top: 50px;
    margin-bottom: 80px;
}

h1,h5,h6{
    margin-bottom: 20px;
}

.quantitygroup{
    margin-top: 20px;
}
.quantitygroup button{
    padding: 10px;
}
.quantitygroup input{
    width: 50px;
    padding: 10px;
}